@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
 

.navbar-nav .nav-link {
  margin-right: 80px;
}

.nav-link{
  position: relative;
  font-family: 'Unbounded', sans-serif;
}

.nav-link::after{
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  content:'';

}

.nav-link:hover::after {
  opacity: 1;
}

.donations-area {
  background-image: linear-gradient(131deg, #202933, #69312c, #ac2f23, #c22626);
  background-size: 300% 100%;
  animation: moveBackground1 15s linear infinite;
  color: #fff
}

@keyframes moveBackground1 {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.animated-text {
  display: inline-block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 0;
  overflow: hidden;
  animation: typing 2s steps(15) forwards, blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 15ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.animated-btn {
  animation: shaking 2s infinite;
}

@keyframes shaking {
  10%, 30% {
    transform: translateX(-2px) rotate(5deg);
  }

  20% {
    transform: translateX(2px) rotate(-5deg);
  }

  40% {
    transform: translateX(0) rotate(0);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 3s forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.donations-area {
  font-size: 1.5rem; /* Ajusta el tamaño del texto según tus necesidades */
}

.donations-area h1 {
  font-size: 3rem; /* Tamaño del h1 */
}

.donations-area h5 {
  font-size: 2rem; /* Tamaño del h5 */
}

.donations-area button {
  font-size: 2rem; /* Tamaño del botón */
}

.background-container {
  background: linear-gradient(to right, #1f618d, #27ae60, #d4ac0d);
  background-size: 300% 100%;
  animation: moveBackground2 15s linear infinite;
}

@keyframes moveBackground2 {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}