@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

 

.navbar-nav .nav-link {
  margin-right: 80px;
  font-family: 'Unbounded', sans-serif;
}

.nav-link{
  position: relative;
}

.nav-link::after{
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  content:'';
}

.nav-link:hover::after {
  opacity: 1;
}

